# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.coreMediatr.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Samet\RiderProjects\coreMediatr\.idea\.idea.coreMediatr\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
